### Import packages

In [4]:
import pandas as pd
import numpy as np
import string, os
from datetime import datetime
import warnings
warnings.filterwarnings("ignore")
warnings.simplefilter(action='ignore', category=FutureWarning)
# set seeds for reproducability
import tensorflow as tf

from tensorflow.keras.utils import set_random_seed
from numpy.random import seed
set_random_seed(2)
seed(1)
# keras module for building LSTM 
from keras.models import Model
from keras.utils import pad_sequences
from keras.layers import Embedding, LSTM, Dense, Dropout, Input, Concatenate
from keras.preprocessing.text import Tokenizer
from keras.callbacks import EarlyStopping
from keras.models import Sequential
from sklearn.model_selection import train_test_split
import keras.utils as ku

import pickle

### Read corpus

In [5]:
data = pd.read_csv('./nlp_data.csv')
#files = []
#for file in data['filename']:
#    with open('../corpus/'+file) as f:
#        content = f.read()
#    files.append(content)

#data = data.assign(reports=files)

report = data['report']
data = data.drop('report',axis = 1)
colnames = data.columns
train_text, val_text, train_params, val_params = train_test_split(report, data, test_size=0.2)

train_params = train_params.values.tolist()
train_params = pd.DataFrame(train_params,columns=colnames)
val_params = val_params.values.tolist()
val_params = pd.DataFrame(val_params,columns=colnames)

FileNotFoundError: [Errno 2] No such file or directory: '../corpus/report_1_1.txt'

### Tokenize and pad sequences

In [6]:
def preprocess_params(df,i):
    
    print(df)
    
    params = df.iloc[i]
    pre_params = []
    # Preprocess the parameters
    # Convert October to a number
    pre_params.append(datetime.strptime(params['month'],'%B').month)
    # Convert strings to numerical values
    pre_params.append(float(params['day']))
    pre_params.append(int(params['year']))
    pre_params.append(int(params['hour']))
    pre_params.append(float(params['solar_power_num']))
    # Convert positive/negative contributions to one-hot encoding
    if params['contri1'] == "positive contribution":
        pre_params.append(ku.to_categorical(0, num_classes=2))
    else:
        pre_params.append(ku.to_categorical(1, num_classes=2))
    # Convert the parameters to a numpy array
    return pre_params

pre_params = [preprocess_params(train_params, i) for i in range(len(train_params['day']))]
print(pre_params[:10])
val_pre_params = [preprocess_params(val_params, i) for i in range(len(val_params['day']))]
print(val_pre_params[:10])

     Unnamed: 0  day      month  year  hour    client solar_power_cat  \
0            35   12     August  2023    12       Ana       very high
1            11   17   December  2023     8   Ricardo        very low
2            29   23   February  2023    10       Ana          medium
3             0    7    October  2023    15       Ema            high
4           159   11      March  2023    17    Rafael             low
..          ...  ...        ...   ...   ...       ...             ...
199         137    8    January  2023    11       Ana          medium
200          72    4  September  2023    13  Franciso          medium
201         140   26   December  2024    19     Diana        very low
202         235    5  September  2023    18   Ricardo          medium
203          37    5       June  2024    13     Diana          medium

     solar_power_num                 feat1                 feat2  \
0              5.667           temperature                   NaN
1              0.160       solar radiation                   NaN
2              6.000  hourly precipitation                   NaN
3             10.143              dewpoint                   NaN
4              1.200       solar radiation              dewpoint
..               ...                   ...                   ...
199            8.000            daily rain                   NaN
200            3.133           temperature                   NaN
201            1.000  hourly precipitation                   NaN
202            2.867              humidity  hourly precipitation
203            6.286  hourly precipitation           temperature

                         contri1          contri2  air conditioner  \
0          positive contribution              NaN              0.0
1    significant negative impact              NaN              2.0
2                negative impact              NaN              0.0
3          positive contribution              NaN              0.0
4                negative impact  negative impact              2.0
..                           ...              ...              ...
199              negative impact              NaN              0.0
200              negative impact              NaN              NaN
201  significant negative impact              NaN              NaN
202              negative impact  negative impact              0.0
203              negative impact  negative impact              0.0

     washing machine  dishwasher  water heater  heater
0                NaN         1.0           0.0     0.0
1                2.0         2.0           1.0     NaN
2                NaN         NaN           NaN     NaN
3                NaN         0.0           2.0     NaN
4                NaN         2.0           1.0     2.0
..               ...         ...           ...     ...
199              2.0         2.0           NaN     0.0
200              1.0         2.0           2.0     NaN
201              NaN         1.0           2.0     NaN
202              NaN         2.0           0.0     2.0
203              2.0         1.0           NaN     0.0

[204 rows x 17 columns]
     Unnamed: 0  day      month  year  hour    client solar_power_cat  \
0            35   12     August  2023    12       Ana       very high
1            11   17   December  2023     8   Ricardo        very low
2            29   23   February  2023    10       Ana          medium
3             0    7    October  2023    15       Ema            high
4           159   11      March  2023    17    Rafael             low
..          ...  ...        ...   ...   ...       ...             ...
199         137    8    January  2023    11       Ana          medium
200          72    4  September  2023    13  Franciso          medium
201         140   26   December  2024    19     Diana        very low
202         235    5  September  2023    18   Ricardo          medium
203          37    5       June  2024    13     Diana          medium

     solar_power_num                 feat1                 feat2  \
0              5.667           temperature                   NaN
1              0.160       solar radiation                   NaN
2              6.000  hourly precipitation                   NaN
3             10.143              dewpoint                   NaN
4              1.200       solar radiation              dewpoint
..               ...                   ...                   ...
199            8.000            daily rain                   NaN
200            3.133           temperature                   NaN
201            1.000  hourly precipitation                   NaN
202            2.867              humidity  hourly precipitation
203            6.286  hourly precipitation           temperature

                         contri1          contri2  air conditioner  \
0          positive contribution              NaN              0.0
1    significant negative impact              NaN              2.0
2                negative impact              NaN              0.0
3          positive contribution              NaN              0.0
4                negative impact  negative impact              2.0
..                           ...              ...              ...
199              negative impact              NaN              0.0
200              negative impact              NaN              NaN
201  significant negative impact              NaN              NaN
202              negative impact  negative impact              0.0
203              negative impact  negative impact              0.0

     washing machine  dishwasher  water heater  heater
0                NaN         1.0           0.0     0.0
1                2.0         2.0           1.0     NaN
2                NaN         NaN           NaN     NaN
3                NaN         0.0           2.0     NaN
4                NaN         2.0           1.0     2.0
..               ...         ...           ...     ...
199              2.0         2.0           NaN     0.0
200              1.0         2.0           2.0     NaN
201              NaN         1.0           2.0     NaN
202              NaN         2.0           0.0     2.0
203              2.0         1.0           NaN     0.0

[204 rows x 17 columns]
     Unnamed: 0  day      month  year  hour    client solar_power_cat  \
0            35   12     August  2023    12       Ana       very high
1            11   17   December  2023     8   Ricardo        very low
2            29   23   February  2023    10       Ana          medium
3             0    7    October  2023    15       Ema            high
4           159   11      March  2023    17    Rafael             low
..          ...  ...        ...   ...   ...       ...             ...
199         137    8    January  2023    11       Ana          medium
200          72    4  September  2023    13  Franciso          medium
201         140   26   December  2024    19     Diana        very low
202         235    5  September  2023    18   Ricardo          medium
203          37    5       June  2024    13     Diana          medium

     solar_power_num                 feat1                 feat2  \
0              5.667           temperature                   NaN
1              0.160       solar radiation                   NaN
2              6.000  hourly precipitation                   NaN
3             10.143              dewpoint                   NaN
4              1.200       solar radiation              dewpoint
..               ...                   ...                   ...
199            8.000            daily rain                   NaN
200            3.133           temperature                   NaN
201            1.000  hourly precipitation                   NaN
202            2.867              humidity  hourly precipitation
203            6.286  hourly precipitation           temperature

                         contri1          contri2  air conditioner  \
0          positive contribution              NaN              0.0
1    significant negative impact              NaN              2.0
2                negative impact              NaN              0.0
3          positive contribution              NaN              0.0
4                negative impact  negative impact              2.0
..                           ...              ...              ...
199              negative impact              NaN              0.0
200              negative impact              NaN              NaN
201  significant negative impact              NaN              NaN
202              negative impact  negative impact              0.0
203              negative impact  negative impact              0.0

     washing machine  dishwasher  water heater  heater
0                NaN         1.0           0.0     0.0
1                2.0         2.0           1.0     NaN
2                NaN         NaN           NaN     NaN
3                NaN         0.0           2.0     NaN
4                NaN         2.0           1.0     2.0
..               ...         ...           ...     ...
199              2.0         2.0           NaN     0.0
200              1.0         2.0           2.0     NaN
201              NaN         1.0           2.0     NaN
202              NaN         2.0           0.0     2.0
203              2.0         1.0           NaN     0.0

[204 rows x 17 columns]
     Unnamed: 0  day      month  year  hour    client solar_power_cat  \
0            35   12     August  2023    12       Ana       very high
1            11   17   December  2023     8   Ricardo        very low
2            29   23   February  2023    10       Ana          medium
3             0    7    October  2023    15       Ema            high
4           159   11      March  2023    17    Rafael             low
..          ...  ...        ...   ...   ...       ...             ...
199         137    8    January  2023    11       Ana          medium
200          72    4  September  2023    13  Franciso          medium
201         140   26   December  2024    19     Diana        very low
202         235    5  September  2023    18   Ricardo          medium
203          37    5       June  2024    13     Diana          medium

     solar_power_num                 feat1                 feat2  \
0              5.667           temperature                   NaN
1              0.160       solar radiation                   NaN
2              6.000  hourly precipitation                   NaN
3             10.143              dewpoint                   NaN
4              1.200       solar radiation              dewpoint
..               ...                   ...                   ...
199            8.000            daily rain                   NaN
200            3.133           temperature                   NaN
201            1.000  hourly precipitation                   NaN
202            2.867              humidity  hourly precipitation
203            6.286  hourly precipitation           temperature

                         contri1          contri2  air conditioner  \
0          positive contribution              NaN              0.0
1    significant negative impact              NaN              2.0
2                negative impact              NaN              0.0
3          positive contribution              NaN              0.0
4                negative impact  negative impact              2.0
..                           ...              ...              ...
199              negative impact              NaN              0.0
200              negative impact              NaN              NaN
201  significant negative impact              NaN              NaN
202              negative impact  negative impact              0.0
203              negative impact  negative impact              0.0

     washing machine  dishwasher  water heater  heater
0                NaN         1.0           0.0     0.0
1                2.0         2.0           1.0     NaN
2                NaN         NaN           NaN     NaN
3                NaN         0.0           2.0     NaN
4                NaN         2.0           1.0     2.0
..               ...         ...           ...     ...
199              2.0         2.0           NaN     0.0
200              1.0         2.0           2.0     NaN
201              NaN         1.0           2.0     NaN
202              NaN         2.0           0.0     2.0
203              2.0         1.0           NaN     0.0

[204 rows x 17 columns]
     Unnamed: 0  day      month  year  hour    client solar_power_cat  \
0            35   12     August  2023    12       Ana       very high
1            11   17   December  2023     8   Ricardo        very low
2            29   23   February  2023    10       Ana          medium
3             0    7    October  2023    15       Ema            high
4           159   11      March  2023    17    Rafael             low
..          ...  ...        ...   ...   ...       ...             ...
199         137    8    January  2023    11       Ana          medium
200          72    4  September  2023    13  Franciso          medium
201         140   26   December  2024    19     Diana        very low
202         235    5  September  2023    18   Ricardo          medium
203          37    5       June  2024    13     Diana          medium

     solar_power_num                 feat1                 feat2  \
0              5.667           temperature                   NaN
1              0.160       solar radiation                   NaN
2              6.000  hourly precipitation                   NaN
3             10.143              dewpoint                   NaN
4              1.200       solar radiation              dewpoint
..               ...                   ...                   ...
199            8.000            daily rain                   NaN
200            3.133           temperature                   NaN
201            1.000  hourly precipitation                   NaN
202            2.867              humidity  hourly precipitation
203            6.286  hourly precipitation           temperature

                         contri1          contri2  air conditioner  \
0          positive contribution              NaN              0.0
1    significant negative impact              NaN              2.0
2                negative impact              NaN              0.0
3          positive contribution              NaN              0.0
4                negative impact  negative impact              2.0
..                           ...              ...              ...
199              negative impact              NaN              0.0
200              negative impact              NaN              NaN
201  significant negative impact              NaN              NaN
202              negative impact  negative impact              0.0
203              negative impact  negative impact              0.0

     washing machine  dishwasher  water heater  heater
0                NaN         1.0           0.0     0.0
1                2.0         2.0           1.0     NaN
2                NaN         NaN           NaN     NaN
3                NaN         0.0           2.0     NaN
4                NaN         2.0           1.0     2.0
..               ...         ...           ...     ...
199              2.0         2.0           NaN     0.0
200              1.0         2.0           2.0     NaN
201              NaN         1.0           2.0     NaN
202              NaN         2.0           0.0     2.0
203              2.0         1.0           NaN     0.0

[204 rows x 17 columns]
     Unnamed: 0  day      month  year  hour    client solar_power_cat  \
0            35   12     August  2023    12       Ana       very high
1            11   17   December  2023     8   Ricardo        very low
2            29   23   February  2023    10       Ana          medium
3             0    7    October  2023    15       Ema            high
4           159   11      March  2023    17    Rafael             low
..          ...  ...        ...   ...   ...       ...             ...
199         137    8    January  2023    11       Ana          medium
200          72    4  September  2023    13  Franciso          medium
201         140   26   December  2024    19     Diana        very low
202         235    5  September  2023    18   Ricardo          medium
203          37    5       June  2024    13     Diana          medium

     solar_power_num                 feat1                 feat2  \
0              5.667           temperature                   NaN
1              0.160       solar radiation                   NaN
2              6.000  hourly precipitation                   NaN
3             10.143              dewpoint                   NaN
4              1.200       solar radiation              dewpoint
..               ...                   ...                   ...
199            8.000            daily rain                   NaN
200            3.133           temperature                   NaN
201            1.000  hourly precipitation                   NaN
202            2.867              humidity  hourly precipitation
203            6.286  hourly precipitation           temperature

                         contri1          contri2  air conditioner  \
0          positive contribution              NaN              0.0
1    significant negative impact              NaN              2.0
2                negative impact              NaN              0.0
3          positive contribution              NaN              0.0
4                negative impact  negative impact              2.0
..                           ...              ...              ...
199              negative impact              NaN              0.0
200              negative impact              NaN              NaN
201  significant negative impact              NaN              NaN
202              negative impact  negative impact              0.0
203              negative impact  negative impact              0.0

     washing machine  dishwasher  water heater  heater
0                NaN         1.0           0.0     0.0
1                2.0         2.0           1.0     NaN
2                NaN         NaN           NaN     NaN
3                NaN         0.0           2.0     NaN
4                NaN         2.0           1.0     2.0
..               ...         ...           ...     ...
199              2.0         2.0           NaN     0.0
200              1.0         2.0           2.0     NaN
201              NaN         1.0           2.0     NaN
202              NaN         2.0           0.0     2.0
203              2.0         1.0           NaN     0.0

[204 rows x 17 columns]
     Unnamed: 0  day      month  year  hour    client solar_power_cat  \
0            35   12     August  2023    12       Ana       very high
1            11   17   December  2023     8   Ricardo        very low
2            29   23   February  2023    10       Ana          medium
3             0    7    October  2023    15       Ema            high
4           159   11      March  2023    17    Rafael             low
..          ...  ...        ...   ...   ...       ...             ...
199         137    8    January  2023    11       Ana          medium
200          72    4  September  2023    13  Franciso          medium
201         140   26   December  2024    19     Diana        very low
202         235    5  September  2023    18   Ricardo          medium
203          37    5       June  2024    13     Diana          medium

     solar_power_num                 feat1                 feat2  \
0              5.667           temperature                   NaN
1              0.160       solar radiation                   NaN
2              6.000  hourly precipitation                   NaN
3             10.143              dewpoint                   NaN
4              1.200       solar radiation              dewpoint

In [7]:
def clean_text(txt):
    txt = "".join(t for t in txt if t not in string.punctuation).lower()
    txt = txt.encode("utf8").decode("ascii",'ignore')
    return txt  

tokenizer = Tokenizer()
def get_sequence_of_tokens(corpus):
    ## tokenization
    tokenizer.fit_on_texts(corpus)
    total_words = len(tokenizer.word_index) + 1
    
    ## convert data to a token sequence 
    input_sequences = []
    for line in corpus:
        token_list = tokenizer.texts_to_sequences([line])[0]
        for i in range(1, len(token_list)):
            n_gram_sequence = token_list[:i+1]
            input_sequences.append(n_gram_sequence)
    return input_sequences, total_words

def generate_padded_sequences(input_sequences,total_words):
    max_sequence_len = max([len(x) for x in input_sequences])
    input_sequences = np.array(pad_sequences(input_sequences, maxlen=max_sequence_len, padding='pre'))
    
    predictors, label = input_sequences[:,:-1],input_sequences[:,-1]
    label = ku.to_categorical(label, num_classes=total_words)
    return predictors, label, max_sequence_len

corpus = [clean_text(x) for x in train_text]
print(corpus[:10])
inp_sequences, total_words = get_sequence_of_tokens(corpus)
print(inp_sequences[:10])
predictors, label, max_sequence_len = generate_padded_sequences(inp_sequences,total_words)


val_corpus = [clean_text(x) for x in val_text]
print(val_corpus[:10])
val_inp_sequences, val_total_words = get_sequence_of_tokens(val_corpus)
print(val_inp_sequences[:10])
val_predictors, val_label, val_max_sequence_len = generate_padded_sequences(inp_sequences,val_total_words)

['\n\nsolar power prediction report for ana  august 12nd 2023 1200 pm\n\ndear ana\n\nwe have generated a solar power prediction report for you based on the data collected from your solar panels on august 12nd 2023 at 1200 pm here are the details\n\ngenerated power 5667 kw\n\ntemperature 85f\n\nappliances usable\n\n heater\n water heater\n air conditioner\n\nappliances not usable\n\n dishwasher\n\nthe solar power generated by your solar panels at this time is predicted to be very high which means you can use your heater water heater and air conditioner without any issues however your dishwasher might exceed the generated power so it is recommended to avoid using it during this time\n\nplease note that the predicted values may not be accurate due to various factors such as weather conditions panel efficiency and maintenance however we have tried our best to provide you with the most reliable prediction based on the available data\n\nif you have any further questions or concerns please do not hesitate to contact us\n\nsincerely\n\ntenergito', 'dear ricardo\n\nwe hope this message finds you well we are writing to provide you with a brief report on the predicted solar power generation from your solar panels on december 17th 2023 at 8 oclock\n\nbased on the solar radiation predicted value we anticipate that the solar power generated will be very low at approximately 016 kilo watts unfortunately this means that some of your appliances may exceed the generated power including your washing machine dishwasher and air conditioner\n\nas such we advise that you keep an eye on the performance of these appliances during this period to ensure that they are not drawing too much power from the grid if possible we recommend adjusting their usage times to coincide with periods of higher solar power generation to maximize the benefit of your solar panels\n\nthank you for your continued partnership with us please dont hesitate to contact us if you have any further questions or concerns\n\nbest regards\n\ntenergito', 'dear ana\n\ni hope this message finds you well i wanted to provide you with a quick update on your solar power predictions according to our analysis on february 23rd 2023 at 10 oclock your solar panels are expected to generate a medium amount of power estimated at 60 kilo watts\n\nhowever we wanted to make you aware that this prediction may be impacted by the hourly precipitation forecast as there is a chance for rain during this time it could have a negative impact on the amount of power generated nonetheless you should still be able to use your air conditioner since it will not exceed your predicted power output\n\nas always please dont hesitate to reach out if you have any further questions or concerns thank you for your continued partnership\n\nbest regards\ntenergito', 'report for solar power predictions for ema  october 7th 2023  1500 hours\n\nbased on our predictions the solar power generated by your solar panels at 1500 hours on october 7th 2023 will be high the predicted value is 10143 kilo watts\n\nthis high power generation can be attributed to the positive contribution of dewpoint therefore you can use your dishwasher and air conditioner without worrying about exceeding the generated power\n\nhowever it is important to note that the appliance water heater will definitely exceed the generated power therefore we recommend minimizing its usage during this time\n\nthank you\n\nbest regards\ntenergito', 'dear rafael\n\nwe wanted to inform you that on march 11th 2023 at 17 oclock the solar power generated from your solar panels is predicted to be low at 12 kilo watts this is primarily due to the solar radiation predicted value having a negative impact as well as the dewpoint predicted value having a negative impact\n\nwe also wanted to inform you that your appliances that require high power such as the water heater heater dishwasher and air conditioner may exceed the generated power we recommend that you consider limiting the use of these appliances during this time to avoid any disruptions\n\nplease let us know if you have any further questions or concerns\n\nbest regards\n\ntenergito', 'dear lus\n\nwe hope this message finds you well as part of our commitment to keeping you informed about the solar power generated by your solar panels we would like to provide you with a report for march 9th 2024 at 800 am\n\non this day and time we predict that your solar panels will generate high solar power 256 kilo watts the positive contribution from the predicted dew point value and temperature value are the main reasons for this\n\nbased on this solar power prediction we recommend that you can use your water heater and washing machine without worrying about surpassing the generated power\n\nwe hope this report is helpful and informative to you as always please do not hesitate to contact us if you have any questions or concerns\n\nbest regards\n\ntenergito', 'dear letcia\n\nwe hope this message finds you well as your solar power provider we wanted to inform you about the solar power generation predictions for may 22nd 2024 at 2000 unfortunately the predicted rain for that day is expected to have a significant negative impact on the amount of power generated by your solar panels we estimate that only 032 kilo watts will be generated during this time\n\nthis means that certain highpower appliances such as your heater dishwasher air conditioner and washing machine might exceed the generated power we kindly remind you to keep an eye on energy consumption during this time to prevent any potential power outages\n\nwe apologize for any inconvenience this might cause and we will continue to monitor the situation and inform you should any updates arise thank you for your understanding and your continued support of solar power\n\nbest regards\n\ntenergito', 'dear diana\n\ni hope this message finds you well as your solar power provider i wanted to give you an update on the solar power generation predicted for february 4th 2024 at 1900\n\nunfortunately due to the hourly precipitation predicted value the solar power generated during this time will be very low  estimated at 1571 kilo watts please note that this may impact the performance of your appliances\n\nbased on our analysis we anticipate that your washing machine may exceed the generated power during this time additionally your heater water heater air conditioner and dishwasher will definitely exceed the generated power\n\nwe understand the importance of reliable solar power and apologize for any inconvenience this may cause please let us know if you have any questions or concerns\n\nthank you for your continued business\n\nbest regards\ntenergito', 'dear diana\n\nwe hope this message finds you well as your solar power monitoring service provider we would like to inform you of the predicted solar power output for october 18th 2023 at 1800 hours\n\naccording to our data the solar power generated during this time will be low with an estimated output of 12 kilo watts this is due to the daily rain predicted value which is having a negative impact on solar panel efficiency\n\nwe would like to notify you that your water heater might exceed the generated power during this time however it is highly likely that your air conditioner will exceed the generated power as the output is expected to be significantly lower than usual\n\nwe understand that conserving energy is important to you and we encourage you to manage your usage accordingly during this period our team is always available to offer advice on energysaving practices or answer any questions you may have\n\nthank you for entrusting us with the responsibility of monitoring your solar power system we remain committed to providing you with accurate and timely information\n\nbest regards\n\ntenergito', 'dear carlos\n\nwe hope this message finds you well our team at tenergito has been closely monitoring the performance of your solar panels and we have some important information to share with you\n\non february 19th 2023 at 900 am we are predicting a low solar power generation of 0733 kilo watts due to the daily rain predicted during that time we wanted to make you aware of this as it may impact your energy consumption for the day\n\nit is important to note that with the low solar power generation your air conditioner and water heater may exceed the generated power we recommend that you consider adjusting your energy usage during this time to avoid any disruptions\n\nif you have any further questions or concerns please do not hesitate to contact us we are available to discuss your energy needs and provide guidance on how to optimize your solar power generation\n\nthank you for choosing tenergito as your solar provider\n\nbest regards\n\nthe tenergito team']
[[4, 2], [4, 2, 81], [4, 2, 81, 44], [4, 2, 81, 44, 20], [4, 2, 81, 44, 20, 200], [4, 2, 81, 44, 20, 200, 201], [4, 2, 81, 44, 20, 200, 201, 412], [4, 2, 81, 44, 20, 200, 201, 412, 64], [4, 2, 81, 44, 20, 200, 201, 412, 64, 413], [4, 2, 81, 44, 20, 200, 201, 412, 64, 413, 184]]
['dear ana\n\nwe have generated a small report for you regarding the predicted solar power output from your solar panels on november 26th 2024 at 9 oclock our analysis indicates that the solar power generated will be medium 168 kilo watts\n\nthe predicted temperature and hourly precipitation values have a negative impact on your solar power generation however you can continue to use your water heater and air conditioner as they will not exceed the generated power\n\nwe would like to advise you that using your heater during this time may exceed the generated power additionally using your dishwasher will certainly exceed the generated power\n\nplease take this information into consideration when using appliances and devices during this time\n\nthank you for choosing our solar panel solutions\n\nsincerely\ntenergito', 'dear toms\n\nwe hope this email finds you well as your solar power consultant we have generated a report predicting the amount of solar power that will be generated by your solar panels on june 21st 2024 at 1600\n\nwe are pleased to inform you that at the given time the solar power generated will be high with a predicted value of 312 kilo watts this high value is due to the positive contribution of the temperature predicted value\n\nwe would like to remind you that with the high solar power generated you can utilize your water heater without any issues however we advise you against using your dishwasher as it will definitely exceed the generated power\n\nshould you need further assistance please dont hesitate to contact us at any time we are always here to assist you with any queries you may have\n\nbest regards\n\ntenergito', 'dear carlos\n\nwe hope this report finds you well we understand that you are interested in knowing the predicted solar power generated from your solar panels on august 20th 2024 at 1800\n\nbased on current forecasts and data we predict that the generated solar power will be medium around 40 kilo watts this is due to the hourly precipitation predicted value having a negative impact as well as the humidity predicted value having a negative impact\n\nwe are glad to inform you that during this time you will be able to use your air conditioner and water heater without surpassing the generated power however your dishwasher will likely exceed the generated power so we recommend using it outside this timeframe\n\nwe hope this report provides you with valuable insights and helps you plan your energy usage accordingly if you have any questions or concerns please do not hesitate to contact us\n\nbest regards\n\ntenergito', 'dear francisco\n\nwe wanted to provide you with a brief update on the solar power generation from your solar panels based on our predictions on december 22nd 2023 at 3 pm we estimate that the solar power generated will be medium at 176 kilo watts\n\nplease note that this prediction takes into account the temperature which is expected to have a negative impact on your solar power generation additionally we wanted to make you aware that your appliances heater may exceed the generated power while your appliances air conditioner will definitely exceed the generated power\n\nwe hope that this information is helpful to you and please feel free to reach out if you have any questions or concerns thank you for choosing us for your solar panel needs\n\nsincerely\n\ntenergito', 'solar power prediction report for january 7th 2023\n\nclient name lus\n\ndate and time january 7th 2023 at 1400 hours\n\npredicted solar power generation medium 24 kilo watts\n\nreason for prediction the hourly precipitation predicted value and the humidity predicted value are both expected to have a negative impact on the solar power generation\n\nappliances that can be used heater and dishwasher can be used as they wont exceed the generated power\n\nappliances that might exceed generated power washing machine might exceed the generated power so it is recommended to avoid using it during this period\n\nappliances that will definitely exceed generated power air conditioner will definitely exceed the generated power so it is recommended to avoid using it during this period\n\nplease note that these are predictions based on weather conditions and may not be entirely accurate we recommend monitoring your solar power generation and usage closely to ensure optimal efficiency and cost savings\n\nthank you for choosing our services if you have any further questions or concerns please do not hesitate to contact us\n\nbest regards\n\ntenergito', 'dear ana\n\nwe are happy to share with you the solar power prediction report for october 11st 2024 16oclock as per the analysis the solar power generated will be medium 36 kilo watts due to the hourly precipitation predicted value having a negative impact and temperature predicted value having a negative impact\n\nhowever we do want to inform you that your air conditioner will definitely exceed the generated power therefore we recommend that you limit the usage of your air conditioner during the predicted hours to ensure a balanced energy usage\n\nplease let us know if you have any further queries and how we can assist you in achieving optimal energy management\n\nbest regards\ntenergito', 'dear toms\n\nwe hope this message finds you well we wanted to provide you with some insights regarding the solar power generated from your panels on march 9th 2023 at 900am we predict that there will be medium solar power generation 28 kilo watts this is due to the predicted temperature having a negative impact on your panels performance\n\nwe wanted to let you know that you can safely use your washing machine during this time since it will not surpass the generated power however we advise against using the dishwasher as it is likely to exceed the generated power\n\nwe hope this information helps with your daily energy usage and conservation efforts please let us know if you have any further questions or concerns\n\nbest regards\n\ntenergito', 'dear diana\n\nwe hope this report finds you well we wanted to update you on the solar power predictions for your solar panels for july 28th 2023 at 17oclock\n\nunfortunately we predict low solar power generation at 116 kilo watts due to the predicted hourly precipitation having a significant negative impact however we suggest using the water heater as it wont surpass the generated power\n\non the other hand we advise against using the air conditioner and washing machine as they will definitely exceed the generated power\n\nplease let us know if you have any further questions or concerns we are always here to support you in optimizing your solar power generation\n\nbest regards\n\ntenergito', 'dear ricardo\n\nwe hope this message finds you well as your solar power consultants we wanted to provide you with the latest forecast for your solar panels generated power on november 20th 2023 at 8 oclock in the morning we predict that the solar power generated will be medium at 70 kilo watts unfortunately this is slightly less than we originally anticipated due to the impact of predicted temperatures\n\nwe would like to advise that during this time period your air conditioner and washing machine may exceed the generated power which means it may be necessary to supplement some power from the grid\n\nif you have any questions please do not hesitate to contact us\n\nbest regards\n\ntenergito solar power team', 'report for constantinos solar power generation prediction\n\non may 10th 2024 at 12 oclock your solar panels are predicted to generate high solar power 8714 kilo watts this prediction is due to the positive contribution of solar radiation\n\nyou can operate your dishwasher during this time as it will not exceed the generated power however we advise you to avoid using appliances heaters as they might exceed the generated power\n\nplease note that this is only a prediction and the actual solar power generated might vary depending on several factors such as weather conditions cloud cover and shading but we hope it helps you plan your energy usage efficiently\n\nif you have any questions or concerns please dont hesitate to contact us\n\nthank you for choosing our solar panel services\n\nbest regards\ntenergito']
[[33, 190], [33, 190, 7], [33, 190, 7, 22], [33, 190, 7, 22, 9], [33, 190, 7, 22, 9, 16], [33, 190, 7, 22, 9, 16, 180], [33, 190, 7, 22, 9, 16, 180, 44], [33, 190, 7, 22, 9, 16, 180, 44, 20], [33, 190, 7, 22, 9, 16, 180, 44, 20, 4], [33, 190, 7, 22, 9, 16, 180, 44, 20, 4, 115]]

### Create Model

In [8]:
def create_model(max_sequence_len, total_words, num_params):
    input_len = max_sequence_len - 1
    input_text = Input(shape=(input_len,))
    input_params = Input(shape=(num_params,))
    # Define the embedding layer for the text input
    x = Embedding(total_words, 10, input_length=input_len)(input_text)

    # Define the LSTM layer
    x = LSTM(100)(x)
    x = Dropout(0.1)(x)

    # Concatenate the LSTM output with the input parameters
    x = Concatenate()([x, input_params])

    # Define the output layer
    output = Dense(total_words, activation='softmax')(x)

    # Define the model
    model = Model(inputs=[input_text, input_params], outputs=output)

    # Compile the model
    model.compile(loss='categorical_crossentropy', optimizer='adam')

    return model

model = create_model(max_sequence_len, total_words,6)
model.summary()

model.fit([predictors, pre_params], label, validation_data=([val_predictors, val_pre_params], val_label), epochs=100, verbose = 1)

2023-04-08 14:56:34.037786: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:981] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-04-08 14:56:34.045116: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:981] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-04-08 14:56:34.045414: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:981] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-04-08 14:56:34.046133: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-04-08 14:56:34.046827: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:981] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-04-08 14:56:34.047086: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:981] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-04-08 14:56:34.047291: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:981] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-04-08 14:56:34.847263: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:981] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-04-08 14:56:34.847527: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:981] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-04-08 14:56:34.847722: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:981] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-04-08 14:56:34.847860: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1613] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 2619 MB memory:  -> device: 0, name: NVIDIA GeForce GTX 1650 with Max-Q Design, pci bus id: 0000:02:00.0, compute capability: 7.5

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_1 (InputLayer)           [(None, 245)]        0           []

 embedding (Embedding)          (None, 245, 10)      11230       ['input_1[0][0]']

 lstm (LSTM)                    (None, 100)          44400       ['embedding[0][0]']

 dropout (Dropout)              (None, 100)          0           ['lstm[0][0]']

 input_2 (InputLayer)           [(None, 6)]          0           []

 concatenate (Concatenate)      (None, 106)          0           ['dropout[0][0]',
                                                                  'input_2[0][0]']

 dense (Dense)                  (None, 1123)         120161      ['concatenate[0][0]']

==================================================================================================
Total params: 175,791
Trainable params: 175,791
Non-trainable params: 0
__________________________________________________________________________________________________

ValueError: Failed to find data adapter that can handle input: (<class 'list'> containing values of types {'(<class \'list\'> containing values of types {\'(<class \\\'list\\\'> containing values of types {"<class \\\'int\\\'>", "<class \\\'float\\\'>", "<class \\\'numpy.ndarray\\\'>"})\'})', "<class 'numpy.ndarray'>"}), <class 'numpy.ndarray'>

### Serialize Model

In [ ]:
with open('nlp_model.pkl', 'wb') as f:
    pickle.dump(model, f)
    f.close()
    
with open('max_sequence_len.pkl', 'wb') as f:
    pickle.dump(max_sequence_len, f)
    f.close()

### Load Model

In [ ]:
with open('nlp_model.pkl', 'rb') as f:
    model = pickle.load(f)

with open('max_sequence_len.pkl', 'rb') as f:
    max_sequence_len = pickle.load(f)

### Generate Text

In [ ]:
def generate_text(seed_text, next_words, model, max_sequence_len):
    for _ in range(next_words):
        token_list = tokenizer.texts_to_sequences([seed_text])[0]
        token_list = pad_sequences([token_list], maxlen=max_sequence_len-1, padding='pre')
        predicted = model.predict(token_list, verbose=0)
        predicted=np.argmax(predicted,axis=1)
        
        output_word = ""
        for word,index in tokenizer.word_index.items():
            if predicted == index:
                output_word = word
                break
        seed_text += " "+output_word
    return seed_text.title()

def generate_text_params(model, tokenizer, max_sequence_len, seed_text, num_gen_words, params):
    # Preprocess the parameters
    params = preprocess_params(params)
    # Generate words one by one
    generated = ""
    for i in range(num_gen_words):
        # Tokenize the seed text
        token_list = tokenizer.texts_to_sequences([seed_text])[0]
        # Pad the tokenized sequence to the desired length
        token_list = pad_sequences([token_list], maxlen=max_sequence_len-1, padding='pre')
        # Convert the parameters to a numpy array
        params_arr = np.array([params])
        # Generate the next word using the model and parameters
        probs = model.predict([token_list, params_arr])[0]
        y_pred = np.random.choice(range(1, total_words), p=probs)
        # Convert the predicted word back to a string
        output_word = ""
        for word, index in tokenizer.word_index.items():
            if index == y_pred:
                output_word = word
                break
        # Append the predicted word to the generated text
        generated += " " + output_word
        # Update the seed text with the predicted word
        seed_text += " " + output_word
    return generated.strip()

In [ ]:
print(generate_text("hourly precipitation", 200, model, max_sequence_len))